@import './styles/govuk_frontend_toolkit';
@import './styles/govuk-elements-sass';


.header {
  background-color: $black;
  height: 37px;
  width: 100%;
  margin: 0 auto;
}

#root {
  @extend %site-width-container;
}

.candidate-list {

}

.candidate {

}

.candidate__details {

}

.candidate__birthdate {

}

.candidate__experience {

}

.position {

}

.position__header {

}

.position__date {

}

.position__summary {

}
